/* Header Styles */
header{
    width: 90%;
    margin:20px auto;
}

/* Navbar */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-link{
    display: flex;
    align-items: center;
    gap: 50px;
}
#nav-meno{
    list-style-type:none;
}
#nav-links{
    text-decoration: none;
    font-size: 22px;
}
#btn{
    background-color: #B68C5A;
    padding: 10px 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    font-size: 22px;
}
/* Hero Banner Styles */
#banner{
    background-image: url("../images/banner.png");
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner-text{
    width: 400px;
    margin: auto;
}
#banner-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
#banner-dspt{
    text-align: center;
}
#banner-search{
    display: flex;
}
input{
    width: 100%;
    border-radius: 12px;
}
#btn-primary{
    color: white;
    font-size: 22px;
    border: none;
     background-color: #B68C5A;
     padding: 5px 10px;
     border-radius: 12px;
}
#banner{
    width: 100%;
}















/* Responsive Design */
@media screen and (max-width:576px) {
    /* hero */
    #nav-link{
        flex-direction: column;
        gap: 0px;
        display: none;
    }
    
    #btn{
        font-size: 16px;
        padding: 5px 8px;
    }
    #hero-img{
        width:40%;
    }
    /* Banner  */
    #banner-title{
        font-size: 25px;
    }
    #banner-dspt{
        width: 80%;
        margin:10px auto;
    }
    #banner-search{
        width: 80%;
        margin: auto;
        margin-top: 20px;
        
       
    }
    input{
        width: 70%;
    }
}