/* Header Styles */
header{
    width: 90%;
    margin:20px auto;
}

/* Navbar */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-link{
    display: flex;
    align-items: center;
    gap: 50px;
}
#nav-meno{
    list-style-type:none;
}
#nav-links{
    text-decoration: none;
    font-size: 22px;
}
#btn{
    background-color: #B68C5A;
    padding: 10px 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    font-size: 22px;
}
/* Hero Banner Styles */
#banner{
    background-image: url("../images/banner.png");
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner-text{
    width: 400px;
    margin: auto;
}
#banner-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
#banner-dspt{
    text-align: center;
}
#banner-search{
    display: flex;
    margin-top: 12px;
}
input{
    width: 100%;
    border-radius: 12px;
}
#btn-primary{
    color: white;
    font-size: 22px;
    border: none;
     background-color: #B68C5A;
     padding: 5px 10px;
     border-radius: 12px;
}
#banner{
    width: 100%;
}
/* main styles */
  main{
    width: 90%;
    margin:20px auto;
}
/* legal */
#legal{
    margin-top: 60px;
}
#legal-title{
    text-align: center;
}
#title{
    font-size: 35px;
    font-weight: bold;
}
#legal-dspt{
    width: 550px;
    margin: auto;
    text-align: center;
}
#legal-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 80%;
    margin:60px auto;
    text-align: center;
}
#legal-img{
    margin: auto;
}
#legal-container h3{
    font-size: 25px;
    font-weight: bold;
}
#legal-container p{
    width: 80%;
    margin: auto;
    text-align: center;
}
#legal-content-one{
    background: linear-gradient(
    rgb(224, 251, 171), rgb(183, 217, 245)

    );
    padding: 15px 0px;
    border-radius: 12px;
}
#legal-content-two{
    background: linear-gradient(
    rgb(239, 201, 201), gray

    );
    padding: 15px 0px;
    border-radius: 12px;
}
#legal-content-three{
    background: linear-gradient(
    rgb(248, 177, 177), rgb(154, 75, 249)

    );
    padding: 15px 0px;
    border-radius: 12px;
}
#legal-content-four{
    background: linear-gradient(
    rgb(222, 252, 234), rgb(102, 119, 80)

    );
    padding: 15px 0px;
    border-radius: 12px;
}
#legal-content-five{
    background: linear-gradient(
    rgb(234, 246, 147), rgb(254, 207, 238)

    );
    padding: 15px 0px;
    border-radius: 12px;
}
#legal-content-six{
    background: linear-gradient(
    rgb(239, 201, 201), rgb(253, 216, 187)

    );
    padding: 15px 0px;
    border-radius: 12px;
}















/* Responsive Design */
@media screen and (max-width:576px) {
    /* hero */
    #nav-link{
        flex-direction: column;
        gap: 0px;
        display: none;
    }
    
    #btn{
        font-size: 16px;
        padding: 5px 8px;
    }
    #hero-img{
        width:40%;
    }
    /* Banner  */
    #banner{
        height: 200px;
        padding: 2px 0px;
        border-radius: 10px;
        
    }
    #banner-title{
        font-size: 18px;
    }
    #banner-dspt{
        width: 80%;
        margin: auto;
        font-size: 14px;
    }
    #banner-search{
        width: 80%;
        margin: auto;
        margin-top: 20px;
        
       
    }
    #btn-primary{
        position: relative;
        top: -15px;
        font-size: 18px;
    }
    input{
        width: 70%;
        padding: 0px;
        position: relative;
        top: -15px;
    }
    /* legal */
    #legal-container{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    #legal-dspt{
        margin: auto;
        text-align: center;
        width: 90%;
    }
    #title{
        font-size: 20px;
    }
   
}